<% if @categories.length == 0 and !User.current.logged? %>
	<h2>Welcome to the Redmine Knowledgebase plugin</h2>
	
	<p>Unfortunately, there aren't any Categories defined, and you need to be logged in to create new categories.</p>
<% else %>

<table width="100%" height="100%">
  <tr>
    <td class="section">      
      <%= render :partial => "categories/roots", :locals => { :selected => nil } %>
    </td>
    <td class="section">
      <div class="contextual">
        <% if @categories.length > 0 %>
        <label for="category_id"><strong>Jump to Category</strong></label>
        &nbsp;
        <%= select_tag :category_id, 
          options_for_select(nested_set_options(Category) {|i| "#{'»' * i.level} #{i.title}" }),
          :onchange => "if (this.value != \'\') { window.location = 'knowledgebase/categories/' + this.value; }"
        %>
        <% end %>                
      </div>

      <% if Article.count > 0 %>

      <table id="article-summaries" width="100%" cellpadding="5">
      <thead>
      <tr>
        <th>Newest Articles</th>
        <th>Recently Updated Articles</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "newest", :articles => @articles_newest, :default_icon => 'recently-added' } %></td>
        <td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "updated", :articles => @articles_updated, :default_icon => 'recently-changed' } %></td>
      </tr>
      </tbody>
      </table>
      
      <table id="article-summaries" width="100%" cellpadding="5">
      <thead>
      <tr>
        <th>Most Popular Articles</th>
        <th>Top Rated Articles</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "popular", :articles => @articles_popular, :default_icon => 'popular' } %></td>
        <td width="50%"><%= render :partial => 'articles/list', :locals => { :summary_format => "toprated", :articles => @articles_toprated, :default_icon => 'top-rated' } %></td>
      </tr>
      </tbody>
      </table>
    
    <% else %>
    
      <p>No articles have been added to the knowledgebase yet. Maybe you want to get the ball rolling ...</p>
    
    <% end %>
    </td>
  </tr>  
</table>

<% end %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'knowledgebase', :plugin => 'redmine_knowledgebase' %>
<% end %>

